{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/confirmar.js'%}" defer></script>
    <title>Listar</title>
</head>
<body>
  <div class="container">
    <h1>Lista de Productos</h1>
    <div class="top-actions">
      <a class="btn btn-primary" href="{% url 'crear' %}">Nuevo Producto</a>
    </div>

    <ul class="product-list">
      {% for producto in productos %}
        <li>
          <div class="product-meta">
            <div class="product-name">{{ producto.nombre }}</div>
            <div class="product-price">${{ producto.precio }}</div>
          </div>
          <div class="item-actions">
            <a class="btn btn-secondary" href="{% url 'editar' producto.id %}">Editar</a>
            <a class="btn btn-danger" href="{% url 'eliminar' producto.id %}"  onclick="return confirmarEliminacion()">Eliminar</a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

</body>
</html>